@page
@model LotesModel
@{
    ViewData["Titulo"] = "Lotes";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Lotes</h3>
            </div>
            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Producto" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Fecha_llegada" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Fecha_vencimiento" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Cantidad" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Precio_unitario" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Estado" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Proveedor" />
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Producto</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Id de Producto
                            </label>
                            <div class="col-lg-6">
                                <input id="nmProducto"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Producto" />
                            </div>
                            <label class="col-lg-4 control-label">
                                Fecha de Llegada
                            </label>
                            <div class="col-lg-6">
                                <input id="nmFecha_llegada"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Fecha_llegada" />
                            </div>
                            <label class="col-lg-4 control-label">
                                Fecha de Vencimiento
                            </label>
                            <div class="col-lg-6">
                                <input id="nmFecha_vencimiento"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Fecha_vencimiento" />
                            </div>
                            <label class="col-lg-4 control-label">
                                Cantidad
                            </label>
                            <div class="col-lg-6">
                                <input id="nmCantidad"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Cantidad" />
                            </div>
                            <label class="col-lg-4 control-label">
                                Precio Unitario
                            </label>
                            <div class="col-lg-6">
                                <input id="nmPrecio_unitario"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Precio_unitario" />
                            </div>
                            <label class="col-lg-4 control-label">
                                Id de Estado
                            </label>
                            <div class="col-lg-6">
                                <input id="nmEstado"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Estado" />
                            </div>
                            <label class="col-lg-4 control-label">
                                Id de Proveedor
                            </label>
                            <div class="col-lg-6">
                                <input id="nmProveedor"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Proveedor" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync(
                         "../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Id
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                @* <input id="flId"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Id"
                       placeholder="Nombre" />
                <br /> *@

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Id de Producto
                            </th>
                            <th class="cl_hidden">
                                Fecha de llegada
                            </th>
                            <th>
                                Fecha de vencimiento
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Precio Unitario
                            </th>
                            <th class="cl_hidden">
                                Estado
                            </th>
                            <th>
                                Id de Proveedor
                            </th>
                            <th class="cl_actions">
                                Acción
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Id
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Producto
                                    </td>
                                    <td>
                                        @elemento.Fecha_llegada
                                    </td>
                                    <td>
                                        @elemento.Fecha_vencimiento
                                    </td>
                                    <td>
                                        @elemento.Cantidad
                                    </td>
                                    <td>
                                        @elemento.Precio_unitario
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Estado
                                    </td>
                                    <td>
                                        @elemento.Proveedor
                                    </td>
                                    <td>
                                        <input type="submit"
                                               value="Modicar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>