@page
@model ProductosModel
@{
    ViewData["Titulo"] = "Productos";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Productos</h3>
            </div>
            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Nombre" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Descripcion" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Stock" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Precio_venta" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Iva" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Categoria" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Estante" />
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Bodega</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nombre
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNombre"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Nombre" />
                            </div>
                            <label class="col-lg-4 control-label">
                                Descripcion
                            </label>
                            <div class="col-lg-6">
                                <input id="nmDescripcion"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Descripcion" />
                            </div>
                            <label class="col-lg-4 control-label">
                                Stock
                            </label>
                            <div class="col-lg-6">
                                <input id="nmStock"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Stock" />
                            </div>
                            <label class="col-lg-4 control-label">
                                Precio de Venta
                            </label>
                            <div class="col-lg-6">
                                <input id="nmPrecio de Venta"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Precio_venta" />
                            </div>
                            <label class="col-lg-4 control-label">
                                Iva
                            </label>
                            <div class="col-lg-6">
                                <input id="nmIva"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Iva" />
                            </div>
                            <label class="col-lg-4 control-label">
                                Id de Categoría
                            </label>
                            <div class="col-lg-6">
                                <input id="nmCategoria"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Categoria" />
                            </div>
                            <label class="col-lg-4 control-label">
                                Id de Estante
                            </label>
                            <div class="col-lg-6">
                                <input id="nmEstante"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Estante" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync(
                         "../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Id
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                @* <input id="flId"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Id"
                       placeholder="Nombre" />
                <br /> *@

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th class="cl_hidden">
                                Descripcion
                            </th>
                            <th>
                                Stock
                            </th>
                            <th>
                                Precio de Venta
                            </th>
                            <th>
                                Iva
                            </th>
                            <th class="cl_hidden">
                                Id de Categoría
                            </th>
                            <th>
                                Id de Estante
                            </th>
                            <th class="cl_actions">
                                Acción
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Nombre
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Descripcion
                                    </td>
                                    <td>
                                        @elemento.Stock
                                    </td>
                                    <td>
                                        @elemento.Precio_venta
                                    </td>
                                    <td>
                                        @elemento.Iva
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Categoria
                                    </td>
                                    <td>
                                        @elemento.Estante
                                    </td>
                                    <td>
                                        <input type="submit"
                                               value="Modicar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>